body{
    background-color: brown;
    color: white;
}

@media screen and (min-width:300px){
    body{
        background-color: goldenrod;
        color: #000;
    }
}

@media screen and (min-width:900px){
    body{
        background-color:indianred;
        color: silver;
    }
}